/*#region General settings*/
html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    background: rgba(17, 26, 40, 1);
    color: rgb(200, 200, 200);
    font-size: 18px;
    font-family: Roboto, sans-serif;
}

p,
h5 {
    color: rgb(200, 200, 200);
}

h1,
h2 {
    color: rgba(0, 207, 93, 1);
    font-weight: bold;
}

h4 {
    color: rgba(0, 207, 93, 1);
    text-align: right;
}
/*#endregion*/

/*#region Specific body sections settings*/
.parallax-block {
    min-height: 100vh;
    padding-top: 25vh;
    padding-bottom: 25vh;
}
/*#endregion*/

/*#region Header settings*/
.nav-link {
    color: rgb(200, 200, 200);
}

    .navbar-brand,
    .nav-link:hover,
    .navbar-brand:hover {
        color: rgba(0, 207, 93, 1);
    }

.nav-item {
    text-align: center;
}
/*#endregion*/

/*#region Button settings*/
.btn-danger {
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
    padding: 14px 40px;
    border-radius: 12px;
}

.btn:hover {
    color: rgba(0, 207, 93, 1);
}

#btn-back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    z-index: 1000; /* Make sure that the button is always on top of other elements */
}
/*#endregion*/

/*#region Accordion settings*/
.accordion-button.show,
.accordion-button {
    background-color: rgba(17, 26, 40, 1);
    color: rgb(200, 200, 200);
    font-weight: bold;
}

.accordion {
    --bs-accordion-active-bg: rgba(17, 26, 40, 1);
    --bs-primary-text-emphasis: rgba(0, 207, 93, 1);
}

.accordion-button::after,
.accordion-button:not(.collapsed)::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='rgba(0, 207, 93, 1)'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

.accordion-button:hover,
.accordion-button.collapsed::after {
    color: rgba(0, 207, 93, 1);
    background-color: rgba(17, 26, 40, 1);
    font-weight: bold;
}

.accordion-body {
    background-color: rgba(17, 26, 40, 1);
    color: rgb(200, 200, 200);
}
/*#endregion*/

/*#region Card settings*/
.card {
    text-align: center;
    border-color: rgba(0, 207, 93, 1);
    border-style: double;
    border-width: 3px;
}

#portfolio-card {
    text-align: justify;
}
/*#endregion*/

/*#region Footer settings*/
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 80px;
}
/*#endregion*/

/*#region Form settings*/
.form-control {
    background-color: rgba(255, 255, 255, .9);
    border-width: 3px;
}

    .form-control:focus {
        background-color: rgba(255, 255, 255, .9);
        border-color: rgba(0, 207, 93, 1);
        border-width: 3px;
    }
/*#endregion*/

/*#region Footnote settings*/
.footnote {
    font-size: 8px;
}
/*#endregion*/

/*#region Table settings*/
.post-table {
    max-height: 50vh;
    overflow-y: auto;
    position: relative;
}

.table-header {
    font-weight: bold;
    padding: 5px;
    position: sticky;
    top: 0;
    z-index: 1;
    border-bottom: 3px solid rgb(200, 200, 200);
}

.table-row {
    padding: 5px;
    border-bottom: 1px solid rgb(200, 200, 200);
}

    .table-row:nth-child(even) {
        background-color: rgba(70, 90, 115, 0.2);
    }

.col1,
.col2,
.col4 {
    flex: 1;
}

.col3 {
    flex: 5;
}
/*#endregion*/

/*#region Modal settings*/
.modal {
    top: 15vh;
}
/*#endregion*/

/*#region Scrollbar settings*/
.scroll-progress-container {
    position: fixed;
    top: 55px;
    left: 0;
    width: 100%;
    height: 5px;
    z-index: 9999;
}

#scroll-progress {
    height: 100%;
    background-color: rgba(0, 207, 93, 1);
    width: 0;
    transition: width 0.05s ease-in-out;
}
/*#endregion*/

/*#region Device settings (phone)*/
@media (max-width: 576px) {

    .custom-smaller-div {
        width: 100%;
        font-size: 12px;
    }
}
/*#endregion*/