<section class="parallax-block" id="portfolio">
    <div class="row justify-content-center">
        <div class="col-lg-12">
            <h2>Portfolio</h2>
            <div>
                Some of my projects. Most recent on top:
            </div><br>
            <div class="row row-cols-1 row-cols-md-2 g-4">
                <!-- First project -->
                <div class="col custom-smaller-div">
                    <div class="card bg-transparent">
                        <div class="row g-0">
                            <div class="col-md-4">
                                <img src="~/bear_hi.png"
                                     class="img-fluid rounded-start d-none d-sm-block">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <a href="https://github.com/tschoolderman/portfolio" target="_blank">
                                        <h4>
                                            <i class="bi bi-box-arrow-up-right"></i> Portfolio website
                                        </h4>
                                    </a>
                                    <p id="portfolio-card">
                                        This portfolio website is built with Python as a base for the backend.
                                        The frontend is made by using Flask, Jinja, HTML, JavaScript and Bootstrap.
                                        In the header are 2 small projects: a simple webscraper and a simple application
                                        for CRUD operations. This site is mainly for the deployment and pipeline
                                        showcase. <br>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Second project -->
                <div class="col custom-smaller-div">
                    <div class="card bg-transparent">
                        <div class="row g-0">
                            <div class="col-md-4">
                                <img src="~/trifectafest.png"
                                     class="img-fluid rounded-start d-none d-sm-block">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h4>Trifectafest website</h4>
                                    <p id="portfolio-card">
                                        This is a project I worked on together with a few other people during my
                                        bootcamp.
                                        The project was built with a <a href="https://github.com/Zenzorido/TrifectaFest-BE" target="_blank">
                                            Java
                                            backend
                                        </a>, a MySQL database and <a href="https://github.com/Tooneytunes/TrifectaFest-FE"
                                                                      target="_blank">HTML/JS frontend</a>.
                                        The whole project was put online in Microsoft Azure and a variant with
                                        containers.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Third project -->
                <div class="col custom-smaller-div">
                    <div class="card bg-transparent">
                        <div class="row g-0">
                            <div class="col-md-4">
                                <img src="~/mastermind.png"
                                     class="img-fluid rounded-start d-none d-sm-block">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <a href="https://github.com/tschoolderman/Mastermind" target="_blank">
                                        <h4>
                                            <i class="bi bi-box-arrow-up-right"></i> Mastermind game in Java
                                        </h4>
                                    </a>
                                    <p id="portfolio-card">
                                        My first try at programming something in Java language.
                                        As well as my first interaction with the Eclipse IDE. <br>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Fourth project -->
                <div class="col custom-smaller-div">
                    <div class="card bg-transparent">
                        <div class="row g-0">
                            <div class="col-md-4">
                                <img src="~/winc_logo.png"
                                     class="img-fluid rounded-start d-none d-sm-block">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <a href="https://github.com/tschoolderman/assignment-cd" target="_blank">
                                        <h4>
                                            <i class="bi bi-box-arrow-up-right"></i> First CI/CD assignment
                                        </h4>
                                    </a>
                                    <p id="portfolio-card">
                                        This is the first time I made a Continues Deployment pipeline.
                                        Made with a Virtual Machine (Linux) on Digital Ocean and with the use of GitHub
                                        workflows and secrets.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Fifth project -->
                <div class="col custom-smaller-div">
                    <div class="card bg-transparent">
                        <div class="row g-0">
                            <div class="col-md-4">
                                <img src="~/winc_logo.png"
                                     class="img-fluid rounded-start d-none d-sm-block">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <a href="https://github.com/tschoolderman/Winc" target="_blank">
                                        <h4>
                                            <i class="bi bi-box-arrow-up-right"></i> Various assignments
                                        </h4>
                                    </a>
                                    <p id="portfolio-card">
                                        A collection of various assignments given to me during my "Back-end development"
                                        course at Winc Academy.
                                        This is where my coding en DevOps career change started.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>