<section class="parallax-block" id="about">
    <div class="row justify-content-center">
        <div class="col-lg-6">
            <h2>
                About me:
            </h2>
            <div>
                Driven by ambition and curiosity.<br>
                A willingness to grow and learn new skills.<br>
                Switching careers from Senior Laboratory Technician to Software Engineering.<br>
                Proactive, accurate, analytic and a keen eye for quality assurance.<br>
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-lg-4">
            <div>
                <img width="100" height="100" src="https://img.icons8.com/clouds/100/doctors-laboratory-coat.png"
                     alt="doctors-laboratory-coat" />
                <img width="100" height="100" src="https://img.icons8.com/clouds/100/double-right.png"
                     alt="double-right" />
                <img width="100" height="100" src="https://img.icons8.com/clouds/100/keyboard.png" alt="keyboard" />
                <p class="footnote">icons by <a href="https://icons8.com">Icons8</a></p>
            </div>
        </div>
    </div>
    <br><br>
    <div class="row justify-content-center">
        <div class="col-lg-6">
            <h2>
                Hobbies:
            </h2>
            <div>
                In my sparetime I like to play some games, like Final Fantasy XIV, or go to the gym for some
                powerlifting.
                When I can, I will go to a convention such as; Castlefest, ComicCon or other.
                My girlfriend and I are also raising a little labrador puppy together. <br>
            </div>
        </div>
    </div>
</section>