<section class="parallax-block" id="intro">
    <div class="row justify-content-center">
        <div class="col-lg-6">
            <p>Greetings! My name is</p>
            <h1>Thomas Schoolderman</h1>
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <i class="bi bi-chevron-double-left"></i>Fullstack Developer<i class="bi bi-chevron-double-right"></i>
                    <!-- <i class="bi bi-pause"></i> -->
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <i class="bi bi-chevron-double-left"></i>DevOps Engineer<i class="bi bi-chevron-double-right"></i>
                    <!-- <i class="bi bi-pause"></i> -->
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <i class="bi bi-chevron-double-left"></i>Programmer<i class="bi bi-chevron-double-right"></i>
                </div>
            </div>
            <br>
            <div>
                <a class="btn btn-outline-success btn-floating btn-lg" href="#about">About</a>
                <a class="btn btn-outline-success btn-floating btn-lg" href="#contact">Contact</a>
            </div>
        </div>
    </div>
    <br>
    <div class="row justify-content-center">
        <div class="col-lg-6">
            <a href="https://app.exeed.pro/holder/badge/142574" target="_blank">
                <img src="~/scrum_badge.png" width="30%" height="auto" />
            </a>
            <a href="https://app.skillsclub.com/credential/31203-d34dbcaaef5c2ab003fba9ee8d0586382aae39b289e174dd3ecbde16cbe67ae2?locale=en&badge=true"
               target="_blank">
                <img src="~/istqb_foundation.png" width="30%" height="auto" />
            </a>
            <a href="https://www.credly.com/users/thomas-schoolderman/badges" target="_blank">
                <img src="~/azure_fundamentals.png" width="30%" height="auto" />
            </a>
        </div>
    </div>
</section>