@{
    ViewData["Title"] = "Privacy Policy";
}

<section class="parallax-block">
    <h2>@ViewData["Title"]</h2>

    <p>This site is for my own personal use. Do not use this site to advertise your products to me.</p>
</section>